<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ snippet.title }}</title>
    <style>

    </style>
</head>
<body>
    <h1>{{ snippet.title }}</h1>
    <p>Created at: {{ snippet.pub_date }}</p>
    <p>Updated at: {{ snippet.update_date }}</p>
    <p>Author: {{ snippet.author }}</p>
    <h3>Description</h3>
    <div class="code-highlight">
        {{ snippet.description_html | safe }}
    </div>
    <h3>Code</h3>
    <div class="code-highlight">
        {{ snippet.highlighted_code | safe }}
    </div>
</body>
</html>