ul.messages {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    list-style-type: none;
    max-width: 400px;
}

ul.messages li {
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

ul.messages .error {
    background-color: #f44336;
    color: white;
}

ul.messages .info {
    background-color: #007BFF;
    color: white;
}

ul.messages .success {
    background-color: #28a745;
    color: white;
}

ul.messages .warning {
    background-color: #ffc107;
    color: #333;
}

ul.messages .close {
    float: right;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

ul.messages .close:hover {
    color: #000;
}

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}