{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
</head>
<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}" id="message-{{ forloop.counter }}">
        {{ message|safe }}
        <a href="#" class="close" onclick="closeMessage(event)"> &times;</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<script>
    function hideMessage(ms){
        const messages = document.querySelectorAll('.messages');
        messages.forEach((message, index) => {
            setTimeout(() => {
                message.style.display = 'none';
            }, ms); // 10000 milliseconds = 5 seconds
        });
    }

    function closeMessage(event) {
        hideMessage(0);
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        hideMessage(3000)
    });
</script>

</body>
</html>